<library path="src">
  <class name="Drone PID Tuning Plugin" type="rqt_pid.pid.PID" base_class_type="rqt_gui_py::Plugin">
    <description>
		Tuning of altitude and attitude PID controls
    </description>
    <qtgui>
      <label>Drone - PID Tuner</label>
      <icon type="theme">system-help</icon>
      <statustip>PID Tuning Plugin.</statustip>
    </qtgui>
  </class>
</library>
